#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
  height: 10vh;
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link{
  color: white;
  text-decoration: none;
  margin: 1rem;
}
.nav-link:hover{
  color: green
}
nav .active{
  color: red;
}
section{
  display: grid;
  grid-gap: 1rem;
}
article{
  background-color: orangered;
}
@media screen and (min-width: 600px){
  section{
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 992px){
  section{
    grid-template-columns: auto auto auto;
  }
}
