#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
  height: 10vh;
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link{
  color: white;
  text-decoration: none;
  margin: 1rem;
}
.nav-link:hover{
  color: green
}
nav .active{
  color: red;
}